body {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  /*background: #f0f0f0;*/
  overflow-wrap: normal;
}
h1 {
  margin-bottom: 40px;
  margin-left: 20px;
  margin-top: 30px;
}

.title {
  font-weight: bold;
  display: inline;
}

.date {
  display: inline;
  color: grey;
  margin-left: 5px;
}

.size {
  width: 100%;
  /*white-space: nowrap;*/
   word-break: break-all;
}

.link-button {
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0px;
  background-color: #708bae;
  font-size: 13px;
}

.entry {
  margin: 10px;
  padding: 20px;
  background: #f0f0f0; /*white;*/
  border-radius: 10px;
}
